#loginform button {
    background-image: url(/plugins/YubiKey/static/icons/yubikey.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 8px;
}

#loginform  {
    background-image: url(/plugins/YubiKey/static/icons/yubikey.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}