.yubikey_icon_menu_settings {
    background: url(/plugins/YubiKey/static/icons/yubikey.png) no-repeat !important;
}

.yubikey_icon_settings {
    background: url(/plugins/YubiKey/static/icons/yubikey.png) no-repeat !important;
}

.yubikey_icon_createkey {
    background: url(/pimcore/static/img/icon/key.png) no-repeat !important;
}

.yubikey_icon_fetchkey {
    background: url(/pimcore/static/img/icon/key_go.png) no-repeat !important;
}
